@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import "tailwindcss";
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #176AE5;
  --color-secondary: #1457C6;
  --color-accent: #F43F5E;
  --color-base-100: #F8FAFC;
  --color-base-200: #EFF6FF;
  --color-base-300: #E2E8F0;
  --color-text: #0F0F0F;
  --color-base-400: #0F0F0F99;



}

* {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif !important;
}